<div class="job-header">
  <%= video_tag "Show.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video-background" %>
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <h1 class="title">Enjoy The Moment</h1>
      <p class="slogan">

        我们需要年轻的声音
        <br>
        渴望独立、自由的你就应属于这里
        <br>
        不甘沉默就为沉默发声
        <br>

      </p>


      <p class="title-btn">
        <%= link_to '马上发声', jobs_path, class: 'btn btn-danger' %>
      </p>
    </div>
  </div>
</div>


 <div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">与独立音乐人更近一步</h2>
        <p class="lead">带你走进一场Live的台前幕后</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">独立音乐的孤独患者</h2>
        <p class="lead-2">我们愿意聆听向往自由的沉默之声</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">独立“顽童”集散地</h2>
        <p class="lead">自由是我们共同的 Slogan </a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>


    <!-- job category section -->

    <!-- <div class="container-fluid text-center">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <div class="row">
                  <div class="col-md-6 col-md-offset-3 text-center">
                      <h2 class="section-title">合作场地</h2>
                      <hr style="width:120px;">
                  </div>
              </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="expert-box">
                              <a href="/jobs?category=%E5%BC%80%E5%8F%91">
                                <!-- <i class="partner-icon partner-icon-smao"></i> -->
                                <!-- <img class="img-welcome img-circle" src="/images/mao.png" alt="MAOLiveHouse">
                              </a>
                            </div>
                            <div>
                              <h3 class="place">MAO LiveHouse</h3>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="expert-box">
                              <a href="/jobs?category=%E5%8C%BB%E6%8A%A4">
                                <img class="img-welcome img-circle" src="/images/doctor.png" alt="Doctor">
                              </a>
                            </div>
                            <div>
                              <h3 class="place"> 愚公移山 </h3>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="expert-box">
                              <a href="/jobs?category=%E4%BA%BA%E5%8A%9B%E8%B5%84%E6%BA%90">
                                <img class="img-welcome img-circle" src="/images/human-resources.png" alt="Human resources">
                              </a>
                            </div>
                            <div>
                              <h3 class="place"> 糖果 </h3><br>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="expert-box">
                              <a href="/jobs?category=%E8%AE%BE%E8%AE%A1">
                                <img class="img-welcome img-circle" src="/images/pen.png" alt="Pen">
                              </a>
                            </div>
                            <div>
                              <h3 class="place">浅水湾</h3>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="expert-box">
                              <a href="/jobs?category=%E9%94%80%E5%94%AE">
                                <img class="img-welcome img-circle" src="/images/sale.png" alt="Sale">
                              </a>
                            </div>
                            <div>
                              <h3 class="place"> VOX </h3>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="expert-box">
                              <a href="/jobs?category=%E6%B3%95%E5%BE%8B">
                                <img class="img-welcome img-circle" src="/images/balance.png" alt="Balance">
                              </a>
                            </div>
                            <div>
                              <h3 class="place"> 育音堂 </h3>
                            </div>
                        </div>

                    </div>
                    <br><br><br>
                </div>
              </div>
            </div>
        </div> -->

<!-- end of job category section -->
