<!DOCTYPE html>
<html>
    <head>
        <title> Dream Job </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <div class="container-fluid">
          <div class="row">
            <%= render "common/navbar" %>
          </div>
        </div>
          <div class="container-fluid">
            <div class="wrapper">
                <%= render "common/flashes" %>
                <%= yield %>
            </div>
        </div>
          <div class="push"></div>
            <%= render "common/footer" %>
          </div>
    </body>
</html>
